p {
    color: papayawhip;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    color: red;
    text-align: center;
}

p {
    font-size: 18px;
    color: #555555;
}

.button {
    background-color: #614caf;
    color: rgb(15, 15, 15);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #67a0e2;
}
